<header class="row">
			
			<div class="span3">
				<%= link_to logo, root_path %>
				
			</div>
			<div class="span9">
				<div id='shapka' class="row">

					<div class="offset2 span3" style="background-color:yellow;">
						<p id='title'> Microgram </p>
					</div>
					<div class="offset2 span3" style="background-color:yellow;">
						<p id='author'>    By Sorokin Yaroslav</p>
					</div>

				</div>	
				<div id='navigation' class="row">
					<div class="span8">
						<nav>
	                            <ul class="btn-group">
	                            	<li class="btn"><%= link_to "Home", root_path %></li>
	                                <li class="btn"><%= link_to "Sign in", '#' %></li>
	                                <li class="btn"><%= link_to "Sign up", '#' %></li>
	                                <li class="btn"><%= link_to "Users", '#' %></li>
	                                <li class="btn"><%= link_to "About", about_path %></li>
	                                <li class="btn"><%= link_to "Help", '#' %></li>
	                                <li class="btn"><%= link_to "Sign out", '#' %></li>
	                            </ul>
	                    </nav>
                	</div>

				</div>
			</div>
		</header>